
<br />
<h3>List of all Alerts from Splunk server.</h3>
<br />

<!-- <ul>
{{#each people}}
<li>Name: {{this.firstName}}-{{this.phone1}}</li>
{{/each}}
</ul> -->

<table class='table table-striped'>
<tr>
<th>Name</th><th>Folder</th>
</tr>
{{#each myapps}}
<tr><td>{{this.name}}</td><td>{{this.name}}</td></tr>
{{/each}}
</table>
<!-- 

<ul>
<li>Folder Name<
{{#each myapps}}

<li>App: {{this}}</li>
{{/each}}
</ul> -->

<!-- {{this}} -->