<!DOCTYPE html>
<html>

<head>
  <title>My Title</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
  <link href="layouts/styles.css" rel="stylesheet" />

   <!--FontAwsome-->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>


<body>
<div class="navbar navbar-inverse">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">#WorkDifferent</a>
         </div>
         <ul class="nav navbar-nav navbar-inverse">
            >
       <li class="dropdown">
     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Main
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
          <li><a href="/">Home</a></li>
          <li><a href="http://localhost:1880/ui">Dashboard</a></li>
          <li><a href="http://localhost:1880">Node-Red</a></li>
      </ul>
    </li>   
    
       <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Splunk API's
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
          <li><a href="/splunk1">List all Splunk Apps</a></li>
            <li><a href="/splunksearches">List all Splunk Saved Searches</a></li>
          <li><a href="/splunkalerts">List all Splunk Alerts</a></li>
          <li><a href="/splunkjobs">List all Splunk Jobs</a></li>
      </ul>
    </li>   

        <li class="dropdown">
     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Twitter API's
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
          <li><a href="/twitsearch">Search Tweets</a></li>
          <li><a href="/twitpost">Post A Tweet</a></li>
          <li><a href="/twitschedule">Post A Scheduled Tweet</a></li>
      </ul>
    </li>   

    <li class="dropdown">
     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
          <li><a href="/chat">Chat</a></li>
          <li><a href="/ping">Ping Test</a></li>
          <li><a href="/twitsearch">Twitter Search Tweets</a></li>
          <li><a href="/twitpost">Twitter Post Tweet</a></li>
      </ul>
    </li>   


     <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">LCD
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
          <li><a href="lcdprint">Manual enter text on LCD</a></li>
          <li><a href="lcdtime">Show current Time on LCD</a></li>
           <li><a href="lcdscroll">Scroll text on LCD</a></li>
          <li><a href="lcdipaddress">Show IPAddress on LCD</a></li>
          <!-- <li><a href="lcdtwolines">Show 2 lines on LCD</a></li> -->
          <li><a href="lcdstockticker">Show Telstra ASX stock quotes on LCD</a></li>

      </ul>
    </li>

    <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contacts
       <span class="caret"></span></a>
       <ul class="dropdown-menu">
          <li><a href="/contacts">Show all contacts</a></li>
          <li><a href="/contactsnew">Add new contact</a></li>
      </ul>
    </li>
    <li><a href='about'>About Us</a></li>
         
            <li><a href="help">Help</a></li>
         </ul>
         



     <!--     <ul class="nav navbar-nav navbar-right navbar-inverse">
            <li><a href="{{pathFor route='admin'}}"><span class="glyphicon glyphicon-log-in"></span> Admin</a></li>
            <li><a href="#"> Admin</a></li>
            <li><a href="#"></a></li>
            <li>
               <a href="#">
                  <p></p>
               </a>
            </li>
         </ul> -->
      </div>
   </div>
   {{{body}}}
   <hr />
   <br>
   <br>    
   <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container">
         <div class="navbar-text pull-left">
            <p>Last Update 23Jul2017 - v2.04</p>
         </div>
         <div class="navbar-text pull-right">
            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
         </div>
      </div>
   </div>

</body>
<script src="/chat.js"></script>
</html>
