<h1>New Contact</h1>
    <form action="/contactsnew" method="post">
       First Name: <input type="text" name="firstname" placeholder="Enter your first name here.." /><br />
       Phone: <input type="text" name="phone" placeholder="Enter your phone here.." /><br />
       <button type="submit">Submit</button>
    </form>
<hr>	