<h1>Twitter - Post A Tweet</h1>
<br />
<div class="alert alert-success disp-none" id="success">Success!! Check Twitter.</div>
 
<br />
{{myapps}}
<br />
Note: Twitter will not let you send / repeat exactly the same tweet twice.