<h1>Twitter Search</h1>


<ul>
{{#each myapps}}
{{myapps.count}}
<li><strong>ID:</strong> {{this.id}} - <strong>Created:</strong> {{this.created_at}} - <strong>Hashtag:</strong> {{this.text}}</li>
{{/each}}
</ul>

<!-- 
{{myapps}} -->